.app {
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ecf0f1;
  z-index: 100;
}
.header__icon {
}
.header__logo {
  object-fit: contain;
  height: 34px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 65vh;
  box-shadow: 0px 18px 53px 0px rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tinderCards__container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}

.cardContent {
  height: 100%;
  width: 100%;
}

.swipe h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fefefe;
}

.swipeButtons {
  position: fixed;
  bottom: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.swipeButtons .MuiIconButton-root {
  box-shadow: 0px 18px 53px 0px rgb(0, 0, 0, 0.3);
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipeButtons__star {
  padding: 3vw !important;
  color: #72b4f9 !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.swipeButtons__lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}
